<div class="logo">
  <img src="assets/images/logo.png" alt="" />
</div>
<app-input [placeholder]="'Company'" [formControl]="company" [controlColor]="controlColor"
  [icon]="'settings'"></app-input>

<div class="info-container">
  <div class="notification">
    <mat-icon svgIcon="bell"></mat-icon>
    <div class="notification-counter">55</div>
  </div>
  <mat-icon svgIcon="settings"></mat-icon>
  <mat-icon svgIcon="help"></mat-icon>

  <div class="user">
    <span class="name">M.Y.</span>
    <div class="avatar">
      <mat-icon svgIcon="person"></mat-icon>
      <div class="menu">
        <mat-icon svgIcon="arrow-down"></mat-icon>
      </div>
    </div>
  </div>
</div>