:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ff2929;
  --dark-gray: #656363;
  --dark-gray-90: #eef0f3;
  --dark-gray-80: #221f1f;
  --dark-gray-70: #4b4c4b;
  --dark-gray-60: #bcbcbc;
  --dark-gray-50: #808080;
  --light-green: #e4f5ec;
  --light-green-90: #f0fff7;
  --light-green-80: #e1f8eb;
  --light-green-70: #dcf7e7;
  --green: #2bb569;
  --blue: #9bb7d1;
  --blue-90: #3e77aa;
  --light-blue: #dce4eb;
  --light-gray: #f3f4f6;
  --light-gray-90: #dedede;
  --light-gray-80: #b4b4b5;
  --light-gray-70: #f5f6f8;
  --light-gray-60: #d1dfe9;
  --light-gray-50: #e4edf4;
  --filter-dark-gray: invert(33%) sepia(0%) saturate(40%) hue-rotate(147deg) brightness(121%) contrast(115%);
  --filter-dark-gray-70: invert(29%) sepia(0%) saturate(7479%) hue-rotate(186deg) brightness(98%) contrast(96%);
  --filter-light-gray-80: invert(76%) sepia(2%) saturate(94%) hue-rotate(202deg) brightness(93%) contrast(97%);
  --filter-green: invert(59%) sepia(13%) saturate(2063%) hue-rotate(94deg) brightness(96%) contrast(92%);
}