@import "mixins";

:host {
  display: flex;
  background: var(--white);
  height: 100%;

  .main-menu,
  .sub-menu {
    width: 220px;
    box-sizing: border-box;

    .label {
      font-size: 15px;
      color: var(--dark-gray-80);
    }

    &-item {
      @include flex($justify: flex-start);
      height: 52px;
      cursor: pointer;
      box-sizing: border-box;
    }
  }

  .main-menu {
    padding: 15px 0 30px;

    .search {
      padding: 0 15px;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 15px;
    }

    &-item {
      padding: 0 15px;

      mat-icon {
        filter: var(--filter-dark-gray);
      }

      .label {
        padding-left: 15px;
      }

      &.active {
        background-color: var(--light-green);
        border-right: 2px solid var(--green);

        mat-icon {
          margin-left: 10px;
          filter: var(--filter-green);
        }

        .label {
          color: var(--green);
        }
      }
    }

    .settings {
      @include flex($justify: flex-start);
      padding: 0 15px;
      height: 52px;
      cursor: pointer;
      box-sizing: border-box;

      mat-icon {
        filter: var(--filter-dark-gray);
      }

      .label {
        padding-left: 15px;
      }
    }

    app-switch {
      padding: 0 15px;
      margin-top: 40px;
      width: 100%;
    }

    .copyright {
      margin-top: 5px;
      width: 100%;
      font-size: 11px;
      text-align: center;
      color: var(--light-gray-90);
    }
  }

  .sub-menu {
    padding: 20px 0;
    background-color: var(--dark-gray-90);

    &-item {
      padding: 0 20px;

      &.active {
        background-color: var(--light-blue);
        border-right: 2px solid var(--black);

        .label {
          margin-left: 10px;
          color: var(--black);
        }
      }
    }
  }
}