<div class="title">
  {{ title }}
</div>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table class="custom-table">
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>
        <span>Name</span>
      </th>
      <td *matCellDef="let element" mat-cell>
        <span>{{ element.name }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th *matHeaderCellDef mat-header-cell>
        <span>Department</span>
      </th>
      <td *matCellDef="let element" mat-cell>
        <span>{{ element.department }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th class="rating" *matHeaderCellDef mat-header-cell>
        <span>Rating</span>
      </th>
      <td class="rating" *matCellDef="let element" mat-cell>
        <span>{{ element.rating }}</span>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</div>